







nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    border: 1px solid;
    display: inline-block;
    padding: 0px;
    margin-right: 10px;
    margin-left: 10px;
    width: 275px;
    background-color: rgb(159, 19, 19);
    color: #FFFFFF;
}

    nav li a {
        color: #FFFFFF;
        text-decoration: none;
        display: block;
        border: 1px solid #000000;
        padding: 25px;
        background-color: #9c1212;
    }

    nav li a:hover {
        background-image: linear-gradient(to top, #f61313, #e41616, #d21616, #c01515, #ae1313);
    }